site_name: Fediverse Enhancement Proposals
site_url: https://helge.codeberg.page/fep
repo_url: https://codeberg.org/fediverse/fep
repo_name: fediverse/fep

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
  font: false

markdown_extensions:
  - toc:
      permalink: true
  - github-callouts
  - tables
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - footnotes

extra_javascript:
  - javascripts/tablesort@5.3.0/tablesort.min.js
  - javascripts/tablesort.js
extra_css:
  - styles/theme.css
nav:
  - index.md
  - final.md
  - draft.md
  - withdrawn.md

plugins:
  - search
